<div class="container">
  <app-abstract-table [dataSource]="productsDataSoruce" [columnConfigs]="columnConfigs">
    <ng-container matColumnDef="customActions">
      <th mat-header-cell *matHeaderCellDef> Actions from parent </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{data: element}">
          <mat-icon>settings</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <ng-template matMenuContent let-data="data">
            <button mat-menu-item (click)="displayData(data)">
              <mat-icon>folder</mat-icon>
              <span>Display more info</span>
            </button>
            <button mat-menu-item (click)="copyData(data)">
              <mat-icon>content_copy</mat-icon>
              <span>Copy adress</span>
            </button>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>
  </app-abstract-table>
</div>
