
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/']" routerLinkActive="active">home</mat-list-item>
      <mat-list-item [routerLink]="['./products']" routerLinkActive="active" >products</mat-list-item>
      <mat-list-item [routerLink]="['./wholesaler']" routerLinkActive="active" >wholesaler</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

